<section>
  <div class="container">
    <div class="grid gap-20 md-grid-cols-2 md-items-center">
      <div>
        <h3>1. Search for a property</h3>
        <p>
          Find a property on one of your favorite real estate websites (Zillow,
          Realtor.com, Redfin, etc...).
        </p>
      </div>
      <div>
        <img src="@@webRoot/images/zillow-house.jpg" alt="Zillow house" />
      </div>
      <div>
        <h3>2. Create a new report</h3>
        <p>Fill out the form with the data from the real estate website.</p>
      </div>
      <div>
        <img
          src="@@webRoot/images/new-rental-report.jpg"
          alt="New rental report"
        />
      </div>
      <div>
        <h3>3. Visualize returns</h3>
        <p>Get a nice report with all the information about the property.</p>
      </div>
      <div>
        <img src="@@webRoot/images/rental-report.jpg" alt="Rental report" />
      </div>
    </div>
  </div>
</section>
