<header>
  <nav
    class="container mb-0 h-header flex items-center md-justify-between md-gap-x-8"
  >
    <!-- Menu button -->
    <!-- <input id="toggle-menu-btn" class="hidden" type="checkbox" />
    <label
      for="toggle-menu-btn"
      class="hamburger absolute left-0 w-header h-header grid place-items-center md-hidden"
    >
      <span class="hamburger-line"> </span>
    </label> -->

    <!-- Logo -->
    <a
      href="@@webRoot"
      class="logo absolute left-1/2 -translate-x-2/4 text-on-surface-variant"
      ><img src="@@webRoot/images/logo.png" alt="Logo"
    /></a>

    <!-- Menu -->
    <div
      class="absolute inset-x-0 top-h-header h-0 overflow-hidden bg-surface-variant open-mobile-menu"
    >
      <ul class="h-5/6 flex flex-col md-flex-row md-gap-x-8">
        <li class="text-h1 flex-1 grid place-items-center">
          <a href="https://rental-calculator.up.railway.app/" class="button"
            >Sign in</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
